* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.quiz-container {
  background-color: #f0f0f0;
  height: 100vh;
}

.quiz-header {
  /* background-color: #943737f3; */
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#question-number {
  font-size: 2rem;
  text-align: center;
  background-color: rgb(223, 223, 223);
  /* color: white; */
  padding: 20px;
}

.ques {
  /* background-color: #fff; */
  padding: 20px;
  font-size: 30px;
  /* background-color: #dcdcdc; */
}

#options button {
  padding: 15px;
  display: flex;
  width: 100%;

  text-align: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  /* background-color: #dcdcdc; */
  background: #007bff;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none;
}

#options {
  margin: 20px 40px 0px 40px;
}
#options button:hover {
  background-color: #0055b1;
}

#submit-btn {
  background-color: green;
  padding: 10px;
  text-align: center;
  color: white;
  /* margin: 0 70px 0 70px; */
  margin: 5px 50px 0 70px;
  border-radius: 10px;
  cursor: pointer;
}

#feedback {
  /* background-color: #fff; */
  padding: 10px;
  text-align: center;
}
